:root{
  --rich-black:#0D1821;
  --prussian-blue:#213144;
  --indigo-dye:#344966;
  --powder-blue:#B4CDED;
  --baby-powder:#F0F4EF;
  --sage:#BFCC94;
}

.App {
  background-color: var(--rich-black);
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  background-color: var(--prussian-blue);
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: start;
}

.App-body {

}